.footer {
      background-color: #171C20;
  color: #171C20;
  height: 70px;
  width: 100%;
      position: absolute;
    bottom: 0;
    color: white;

    text-align: center;
    padding: 20px;
    

}
   