.img-responsive {
  max-width: 90%; /* or to whatever you want here */
  max-height: 150px; /* or to whatever you want here */
  margin-bottom: 10%;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

.gallery_wrapper {
    padding-top: 3%;
}