<div class="row">
  <div id="header-content-wrapper">
    <header class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-center col-centered">
            <div class="imgwrapper">
              <img class="img-fluid" id="logo" src="https://lh3.googleusercontent.com/D-Pjld4aspaTnScKXpzmVESCkcfMn_gIPbVg-1SP7hZlROstZ9-msycfdklfnHteigQ=w300" width="100%" alt="Logo Thing main logo">
            </div>
          </div>
        </div>
        <div ng-click="Mainclick()" class="menu_wrap" style="position: absolute;">
          <button class="toggle-nav toggle-button" id="big-sexy">MENU</button>
        </div>
      </div>
  </div>
  </header>
</div>
</div>
