<!-- Page Content -->
<div headerdirective>
</div>
<div class="row text-center">
  <div class="main_content_wrapper">
    <h2>search car specs</h2>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-10 col-centered">
        <div class="profileGrey">
          <div class="form-group ">
            <label for="pwd ">Year:</label>
            <select name="car-years" id="car-years" class="form-control"></select>
            <label for="pwd ">Make:</label>
            <select name="car-makes" id="car-makes" class="form-control"></select>
            <label for="pwd ">Model:</label>
            <select name="car-models" id="car-models" class="form-control"></select>
            <label for="pwd ">Trim:</label>
            <select name="car-model-trims" id="car-model-trims" class="form-control"></select>
          </div>
          <input class="btn btn-primary" id="cq-show-data" type="button" value="Show Data" />
          <div id="car-model-data"></div>
        </div>
      </div>
    </div>
  </div>
  <div footerdirective>
  </div>
